    <!doctype html>
    <html>
      <head>
        <meta charset="utf-8">
        <title>Shanija Perera</title>
        <link rel="stylesheet" href="././style.css"/>
      </head>
      <body>
        <nav>
          <h1>Shanija Perera</h1>
          <ul class="navigation">
            <li><a href="/projects" class="nav-link">Projects</a></li>
            <li><a href="/skills" class="nav-link">Skills</a></li>
            <li><a href="/contact" class="nav-link">Contact</a></li>
          </ul>
        </nav>
        <section class="hero" id="about">
        <img src="/images/dingo.png" alt="dingo">
        <div class="bio">
          <h2>About Me</h2>
          <p>
            My name is Shanija Perera and welcome to my bio page. I am recently graduate of a bootcamp where I completed and became a certified Web developer. Feel free to check out my recent projects and skills, and get in contact via LinkedIn or email. I have several years of experience in the IT industry having worked as Quality Assurane Engineer in manual and automation testing.
          </p>
        </div>
        </section> 
      </body>
    </html>