    <!doctype html>
    <html>
      <head>
        <meta charset="utf-8">
        <title>Projects</title>
        <link rel="stylesheet" href="././style.css"/>
      </head>
      <body>
        <nav>
          <h1><a href="/">Shanija Perera</a></h1>
          <ul class="navigation">
            <li><a href="/projects" class="nav-link">Projects</a></li>
            <li><a href="/skills" class="nav-link">Skills</a></li>
            <li><a href="/contact" class="nav-link">Contact</a></li>
          </ul>
        </nav>
        <section class="projects" id="projects">
      <h2 class="projects-title">Recent Projects</h2>
      <div class="projects-container">
        <div class="project-container project-card">
          <img
            src="/images/slack-clone.png"
            alt="slack-clone!!"
            class="project-pic"
          />
          <h3 class="project-title">Slack Clone</h3>
          <p class="project-details">
            Clone of the Slack desktop web page.
          </p>
          <a href="https://github.com/shaniperera/lab-css-flexbox-slack/tree/master" target="_blank" class="project-link">GitHub link</a>
        </div>
        <div class="project-container project-card">
          <img
            src="/images/gamblor!!.png"
            alt="gamblor!!"
            class="project-pic"
          />
          <h3 class="project-title">gamblor!!</h3>
          <p class="project-details">
            Casino style game where a Marge Simpson goes head to head with Mr. Burns' casino to win donuts based on the highest card.
          </p>
          <a href="https://github.com/shaniperera/gamblor" target="_blank" class="project-link">GitHub link</a>
        </div>
      </div>
    </section>
      </body>
    </html>